.background {
  width: 100vw;
  height: 100vh;

  position: fixed;
  z-index: -1;
}

.background svg {
  width: 100%;
  height: 100%;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bg-clip {
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-img-1 {
  background-image: url("./image/game-1.jpeg");
}

.bg-img-2 {
  background-image: url("./image/image-2.jpg");
}

.bg-img-3 {
  background-image: url("./image/game-3.jpeg");
}

.bg-img-4 {
  background-image: url("./image/img.jpg");
}

@media (min-width: 1024px) {
  .bg-clip {
    /* clip-path: polygon(28% 0, 100% 0%, 75% 100%, 0% 100%); */
    background-repeat: no-repeat;
    background-size: cover;
  }
}
