@tailwind base;
@tailwind components;
@tailwind utilities;
.clip-your-needful-style {
  clip-path: polygon(28% 0, 100% 0%, 75% 100%, 0% 100%);
  background-image: url("./image/images-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.clip-your-needful-style2 {
  clip-path: polygon(28% 0, 100% 0%, 75% 100%, 0% 100%);
  background-image: url("./image/image-2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.clip-your-needful-style3 {
  clip-path: polygon(28% 0, 100% 0%, 75% 100%, 0% 100%);
  background-image: url("./image/image-3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.clip-your-needful-style4 {
  clip-path: polygon(28% 0, 100% 0%, 75% 100%, 0% 100%);
  background-image: url("./image/img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
